<!doctype html>
<html lang="en">

<body>
    <div style= "width : 1920px; height : 1280px ; background: linear-gradient(90deg, rgba(113, 214, 97, 0.80) 0%, rgba(113, 214, 97, 0) 75%)">
        <img style="width: 520px; height: 500px; left: 492px; top: 290px; position: absolute; opacity: 0.85" src="../../statics/img/LogIn_Image_1.png" ></div>
        <div style="width: 520px; height: 500px; left: 1012px; top: 290px; position: absolute; mix-blend-mode: lighten; background: white"></div>
        <div style="width: 509px; height: 113px; left: 1024px; top: 290px; position: absolute; text-align: center; color: black; font-size: 90px; font-family: Holtwood One SC; font-weight: 400; word-wrap: break-word">로그인</div>
        <div style="width: 510px; height: 85px; left: 1017px; top: 431px; position: absolute; opacity: 0.45; background: #D9D9D9"></div>
        <div style="width: 510px; height: 85px; left: 1017px; top: 559px; position: absolute; opacity: 0.45; background: #D9D9D9"></div>
        <div style="width: 300px; height: 85px; left: 1129px; top: 687px; position: absolute; opacity: 0.45; background: #9BE090; border-radius: 20px"></div>
        <img style="width: 30px; height: 55px; left: 1055px; top: 445px; position: absolute" src="../../statics/img/LogIn_Image_3.png"></div>
        <img style="width: 30px; height: 55px; left: 1055px; top: 580px; position: absolute" src="../../statics/img/LogIn_Image_4.png"></div>
        <div style="width: 369px; height: 50px; left: 1085px; top: 457px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Hind Kochi; font-weight: 400; word-wrap: break-word">아이디</div>
        <div style="width: 369px; height: 50px; left: 1092px; top: 703px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Hind Kochi; font-weight: 400; word-wrap: break-word">로그인</div>
        <div style="width: 369px; height: 50px; left: 1087px; top: 585px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Hind Kochi; font-weight: 400; word-wrap: break-word">비밀번호</div>
        <img style="width: 200px; height: 200px; left: 652px; top: 486px; position: absolute" src="../../statics/img/LogIn_Image_2.png"/>
    </div>
</body>

</html>