@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body{
    margin:0;
    min-width:1168px;
}
#menuBar{
    margin:10px;
    margin-left:50px;
    background-color: rgba(85, 237, 82, 0.35);
    border-radius:20px;
    border-style:groove;
    max-height:110px;
}
#label{
    font-family:SOYOMapleBoldTTF;
    margin-top:15px;
    font-size:20px;
    color:black;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    align-items:center;
}
#header{
    text-align:center;
    margin-top:80px;
    margin-bottom:80px;
}
#contents{
    margin:10px;
    background-color: rgba(85, 237, 82, 0.35);
    border-radius:20px;
    border-style:groove;
    padding:50px;
}
#labelGraph{
    font-family:SOYOMapleBoldTTF;
    font-size:20px;
    color:black;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    align-items:center;
    border-left:10px;
    border-right:10px;
}
#tdgGraph{
    max-width:300px;
    max-height:300px;
}
#graphBox{
    margin:10px;
    background-color:white;
    text-align:center;
    align-items:center;
    padding:20px;
    border-radius:20px 20px 20px 20px;
}