@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    margin: 0;
    min-width:870px;
    text-align:center;
    align-items:center;
}

#title{
    font-family:SOYOMapleBoldTTF;
    text-align:center;
    font-size:40px;
    font-weight: bold;
    margin-top:100px;
    margin-bottom:70px;
}

#leftBar{
    position:absolute;
    text-align:center;
    align-items: center;
    background-color : rgba(85, 237, 82, 0.35);
    width:15%;
    border-radius:40px;
    left:5%;
    padding-top:20px;
    padding-bottom:20px;
    border-style:solid;
}

#barItem{
    font-family:SOYOMapleBoldTTF;
    font-size:24px;
    font-weight:bold;
    color :rgb(0,0,0);
    text-decoration-line:underline;
}

#contents{
    background-color : rgba(85, 237, 82, 0.35);
    width: 65%;
    height:max-content;
    float:right;
    margin-right:10%;
    margin-bottom:100px;
    border-radius:40px;
    border-style:solid;
    text-align:center;
}

#contentsText{
    font-family:SOYOMapleBoldTTF;
    font-size:30px;
    font-weight:bold;
}

#calGraph{
    margin:40px;
    border-radius:10px;
    padding:10px;
    background-color:white;
}

#pieChartBox{
    justify-content:space-around;
    margin-left:40px;
    margin-top:10px;
    padding-left:5%;
    height:300px;
    width:300px;
}

#adviceBox{
    margin:20px;
    margin-right:10%;
    float:right;
    border-style:groove;
    border-radius:50px;
    background-color:white;
    height:300px;
    width:30%;
}

#detailedBox{
    background-color:white;
    margin:5%;
    border-radius:20px;
    padding:20px;
    height:300px;
}
#detailed{
    margin-left:15%;
}