<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href = "../../statics/css/beforeLogin.css">
    <title>Mainpage</title>
</head>

<body>
    <div>
        <img id = "image" src="../../statics/img/SuperRabbit.png">
        <div id = "textBox1">
            <a id = "imageText1"> 토끼 박사님과 식단 분석하고</a>
            <br>
            <a id = "imageText1">&nbsp;&nbsp;&nbsp;오늘부터 </a>
            <a id = "impactText">#갓생</a>
            <a id = "imageText1">살자!</a>
        </div>
    </div>
    <div class = "container">
        <div style = "text-align: center;">
            <br><br>
            <a style = "font-size: 55px;">건강관리</a>
            <br>
            <a style = "font-size:40px;">식단 관리는 잘 이루어지고있나요?</a>
            <br>
            <a style = "font-size:40px;">체계적으로 도전해보세요!</a>
        </div>
        <div>
            <img id = "lineGraphImage" src = "../../statics/img/caroly.png">
            <a id = "lineGraphText">일일 칼로리 확인</a>
        </div>
        <br>
        <div>
            <a id = "circleGraphText">탄단지 비율 확인</a>
            <img id = "circleGraphImage" src = "../../statics/img/Graph.png">
        </div>
    </div>
</body>