<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href = "../../static/css/navBar.css">
  <link rel="stylesheet" href = "../../static/css/main/mainPage.css">
  <title>navbar</title>
</head>

<body>
  <!-- 기본 템플릿 안에 삽입될 내용 Start -->
  <!-- 네비게이션 바 시작 부분 -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light" id = "navbar" style="background-color: rgb(255, 255, 255)">
    <div class="container">
      <!-- 로고 부분 -->
      <a class="navbar-brand col" href="">
        <img src="../../static/img/logo.png" alt="" width="100px"
          class="d-inline-block align-text-center" />
      </a>
      <!-- 네비게이션 바 구성요소들 -->
      <div class="collapse navbar-collapse" id="navbarDropdownMenuLink">
        <div class = "col-4">
          <nav style = "margin-left:20px" class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../../static/img/foodImage.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                게시판
              </a>
            </div>
          </nav>
        </div>
        <div class = "col-4">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../../static/img/glass.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                분석하기
              </a>
            </div>
          </nav>
        </div>
        <div class = "col">
          <!-- 우측 홈페이지, 로그아웃 버튼 -->
            <ul class="navbar-nav">
              <li class = "nav-item" id="nav_item">
                <a class = "nav-link" href="">로그인 /</a>
              </li>
              <li class = "nav-item" id="nav_item">
                <a class = "nav-link" href="">회원가입</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class = "row" id = "topBox">
      <div class = "col" id = "analysis">
          <img src = "../../static/img/Graph.png" width = 150px>
          <div id = "analysisBox">
              <a class = "text-dark" id = 'goAnalysis' href = "">분석하러가기</a>
          </div>
      </div>
      <div class = "col" id = "streakBox">
          <a id = "streak">OOO님은<br>0일 째<br>갓생사는 중</a>
      </div>        
  </div>
  <div class="row" >
    <div class = "row">
      <a class = "col"id = "label1">다른 사람들은<br>어떻게 하고 있을까요?</a>
    </div>
    <div class =  "row justify-content-center">
      <div class="card col-4" id = "card">
        <img src="../../static/img/sampleFoodBeer.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">맥주!!!!</h5>
          <p class="card-text">2023-11-28<br>author</p>
          <btn class="btn btn-outline-danger"style="font-size:20px" onclick = "iLikeIt(this)">♡</btn>
        </div>
      </div>
      <div class="card col-4" id = "card">
        <img src="../../static/img/sampleFoodForkChap.jpg" class="card-img-top">
        <div class="card-body" >
          <h5 class="card-title">등갈비</h5>
          <p class="card-text">2023-11-29<br>author</p>
          <btn class="btn btn-outline-danger" style="font-size:20px" onclick = "iLikeIt(this)">♡</btn>
        </div>
      </div>
    </div>
    <div class =  "row justify-content-center">
      <div class="card col-4" id = "card">
        <img src="../../static/img/sampleFoodFrog.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">개구리 뒷다리~</h5>
          <p class="card-text">2023-11-28<br>author</p>
          <btn class="btn btn-outline-danger"style="font-size:20px" onclick = "iLikeIt(this)">♡</btn>
        </div>
      </div>
      <div class="card col-4" id = "card">
        <img src="../../static/img/sampleFoodCutlet.jpg" class="card-img-top">
        <div class="card-body" >
          <h5 class="card-title">돈까스</h5>
          <p class="card-text">2023-11-29<br>author</p>
          <btn class="btn btn-outline-danger" style="font-size:20px" onclick = "iLikeIt(this)">♡</btn>
        </div>
      </div>
    </div>
    <script src = "../../static/js/account/likeIt.js"></script>
  </div>
</body>

</html>