<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href = "../../statics/css/afterLogin.css">
    <title>Mainpage</title>
</head>

<body>
    <div id = "firstFrame">
        <div id = "topBox">
            <div id = "analysis">
                <img style= "padding-left:7%"src = "../../statics/img/Graph.png" width = 150px>
                <div id = "analysisBox">
                    <a id = 'goAnalysis' href = "">분석하러가기</a>
                </div>
            </div>
            <div id = "streak">
                <a id = "streak">&nbsp;헬창님은</a><br>
                <a id = "streak">&nbsp;&nbsp;&nbsp;0일 째</a><br>
                <a id = "streak">갓생사는중</a>
            </div>
            <div>
                <a id = "label1">
                    &nbsp;&nbsp;&nbsp;&nbsp;다른 사람들은&nbsp; &nbsp; &nbsp;어떻게 하고 있을까요?
                </a>
            </div>
        </div>
      </div>
</body>

</html>