body{
    margin:0;
    min-width:1168px;
}
#searchBox{
    margin-top:75px;
    margin-bottom:75px;
    align-items:center;
    text-align:center;
}
#searchBtnImg{
    width:40px;
}
#searchInput{
    margin-top:10px;
    width:60%;
    font-size:35px;
    padding-left:30px;
}
#searchLabel{
    font-size:30px;
}
#searchedItemBox{
    padding:10px;
    padding-left:30px;
    background-color: rgba(85, 237, 82, 0.35);
    border-radius:20px;
    border-style:solid;
}
#selectedItemBox{
    margin:10px;
    margin-right:50px;
    background-color: rgba(85, 237, 82, 0.35);
    border-radius:20px;
    border-style:solid;
}
#label{
    margin-top:15px;
    font-size:20px;
    color:black;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    align-items:center;
}
#labelHead{
    font-size:19px;
    color:black;
    text-decoration:none;
    font-family:sans-serif;
    text-align:center;
    font-weight:bold;
}
#foodItem{
    font-size:20px;
    color:black;
    text-decoration:none;
    padding-left:20px;
    margin-top:10px;
}
#todayEat{
    font-size:18px;
    margin:10px;
}
#total{
    max-width:200px;
    max-height:200px;
}
#menuBar{
    margin:10px;
    margin-left:50px;
    background-color: rgba(85, 237, 82, 0.35);
    border-radius:20px;
    border-style:solid;
    max-height:110px;
}
#graphBox{
    padding:30px;
    margin:10px;
    margin-right:50px;
    background-color: rgba(85, 237, 82, 0.35);
    border-radius:20px;
    border-style:solid;
}
