<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 게시판 메인 -->
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/navBar.css" />
    <link rel="stylesheet" href="/css/board/boardPagebefore.css" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />

    <title>게시판</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div th:replace="~{/main/navBar :: headerFragment}"></div>

    <div class = "row" id="boardTitle">
        <a class = "col text-dark" id = "title"> 갓생 커뮤니티 </a>
    </div>
    <ul id="paginated-list" aria-live="polite">
        <li class="row justify-content-center" id="card-list">
            <div class="card col-4" id="card" th:each="board: ${boardList}">
<!--              <div id="eachBox">-->
                <tr th:if="${board.fileAttached == 1}">
                    <div id="imgBox"><img th:src="@{|/upload/${board.storedFileName}|}" alt="" class="card-img-top" id="img"></div>
                </tr>
                <div class="card-body">
                    <h5 class="card-title" th:text="${board.boardTitle}"></h5>
                    <p class="card-text" th:text="${board.boardCreatedTime}"></p>
                    <br>
                    <p class="card-text" th:text="${board.boardWriter}"></p>
                    <div class = "row">
                        <div class = "col">
                            <a th:id="'likeCnt' + ${board.id}"  >0</a>
                            <btn
                                    class="btn btn-outline-danger col"
                                    style="font-size: 20px"
                                    th:onclick="'iLikeIt(this, ' + ${board.id} + ')'"
                            >♡</btn>
                        </div>
                        <tr th:if="${board.boardWriter == userName}">
                          <div class="col">
                            <form action="/board/deleteItem" th:method="post">
                              <button type="submit" class="btn btn-secondary" style="float:right" >삭제하기
                                <input type="hidden" name="boardId" th:value="${board.id}">
                              </button>
                            </form>
                          </div>
                        </tr>
                    </div>
                </div>
<!--              </div>-->
            </div>
        </li>
    </ul>
    <div id="footerBox">
        <a href = "/board/save">
            <img class = "" src="/img/boardPage_Img_1.png" width="100px" href="/board/save">
            <div class = "">
                <a id="createPost" href = "/board/save">식단 공유하기</a>
            </div>
        </a>
    </div>

    <script th:inline="javascript">
      let page = 1; // 초기 페이지

      function loadMoreItems() {
        let url = '/board/view?page=' + page;

        // Ajax로 서버에서 데이터를 비동기로 가져옴
        $.ajax({
          url: url,
          type: 'GET',
          success: function (data) {
            // 가져온 데이터를 동적으로 HTML에 추가
            var $data = $(data);
            var result = '';

            $data.find('#card-list').each(function () {
              // 각각의 eachBox 요소에서 내용을 가져와서 combinedContent에 추가
              result += $(this).html();
            });

            $('#card-list').append(result);

            // page++; // 페이지 번호 증가
          },
          error: function (error) {
            console.error('Error:', error);
          }
        });
      }


      // 스크롤 이벤트 감지
      window.addEventListener('scroll', () => {
        // 현재 스크롤 위치, 전체 문서의 높이, 현재 뷰포트의 높이를 가져옴
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          console.log(page++);

          loadMoreItems(); // 새로운 페이지 로드
        }
    });

    </script>
    <script src="/js/account/likeIt.js"></script>
</body>
</html>