body{
    margin: 0;
    min-width:870px;
    text-align:center;
    align-items:center;
    background:linear-gradient(180deg, rgba(85, 237, 82, 0.35) 0%, rgba(85, 237, 82, 0.00) 500px);
}
#topBox{
    width:100%;
}
#analysis{
    align-items:center;
    text-align:center;
    margin-top:50px;
    margin-left:max(100px,20%);
}
#analysisBox{
    margin:auto;
    width:250px;
    background-color :  rgba(85, 237, 82, 0.35);
    border-radius : 30px 30px 30px 30px;
    border-right : solid;
}
#goAnalysis{
    padding:10px;
    font-size:30px;
    font-weight:bold;
    color :rgb(0,0,0);
    text-decoration-line:none;
}
#streakBox{
    width:max(400px,20%);
    margin-right:max(100px,20%);
    margin-top:50px;
    text-align:center;
}
#streak{
    font-size:250%;
    font-weight:bold;
}
#label1{
    padding-top:100px;
    margin:20px;
    width: 400px;
    top:400px;
    color: #000;
    font-size: 38px;
}
#navBack{
    background-color: rgba(85, 237, 82, 0.35) 0%;
}
#card{
    margin:auto;
}