<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" href="/css/analyze/analyzingSearch.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="utf-8" />
    <link rel="stylesheet" href = "/css/navBar.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Analyze</title>
</head>

<body>
    <div th:replace="~{/main/navBar :: headerFragment}"></div>
    <div class = "row" id ="searchBox">
        <div>
            <form th:action="'/analyze/analyzeSearch'" th:method="post">
                <input id = "searchInput" type="text" name="query" placeholder="음식을 검색해 주세요">
                <button class = "btn btn-secondary" style="margin-bottom:14px;"
                type="submit">
                    <img src = "/img/glass.png" id ="searchBtnImg">
                    <a id = "searchLabel">검색</a>
                </button>
            </form>
        </div>
    </div>

    <div class = "row" style="max-width:98%">
        <div class = "col-2" id = "menuBar">
            <div class = "row">
                <a id="label" href="/analyze/analyzeSearch">등록하기</a>
            </div>
            <div class = "row">
                <a id="label" href="/analyze/analyzeGraph">분석 및 저장</a>
            </div>
        </div>
        <div class = "col" id = "searchedItemBox">
            <div class = "row">
                <a class = "col-1" id = "label"></a>
                <a class = "col" id = "label">음식 이름</a>
                <a class = "col" id = "label">열량(kcal)</a>
                <a class = "col" id = "label">탄수화물(g)</a>
                <a class = "col" id = "label">단백질(g)</a>
                <a class = "col" id = "label">지방(g)</a>
            </div>
            <!-- 검색 결과 띄우기   -->
            <div th:if="${foodInfo}">
                <ul>
                    <!-- each 돌린 후 음식 이름 : food.foodName, 열량 : food.NUTR_CONT1, 탄수화물 : food.NUTR_CONT2, 단백질 : food.NUTR_CONT3, 지방 : food.NUTR_CONT4       -->
                    <div th:each="food : ${foodInfo}" class = "row">
                        <!-- th:data-... 지우지 말것 -->
                        <button class="btn btn-light col-1 select-button" id="foodItem" th:data-food-name-th="${food.foodName}" th:data-nutr-cont1-th="${food.NUTR_CONT1}" th:data-nutr-cont2-th="${food.NUTR_CONT2}" th:data-nutr-cont3-th="${food.NUTR_CONT3}" th:data-nutr-cont4-th="${food.NUTR_CONT4}" style="font-size:18px">추가</button>
                        <a class = "col" id="foodItem" th:text="${food.foodName}"></a>
                        <a class = "col" id="foodItem" th:text="${food.NUTR_CONT1}"></a>
                        <a class = "col" id="foodItem" th:text="${food.NUTR_CONT2}"></a>
                        <a class = "col" id="foodItem" th:text="${food.NUTR_CONT3}"></a>
                        <a class = "col" id="foodItem" th:text="${food.NUTR_CONT4}"></a>
                    </div>
                </ul>
            </div>
            <!-- 만약 검색된 결과값이 없다면 -->
            <div th:unless="${foodInfo}" class = "row">
                <a id="label" class = "col">검색된 결과 값이 없습니다.</a>
            </div>
        </div>
        <div class = "col-2"id = "selectedItemBox">
            <div class = "row" >
                <a class = "col" id="labelHead"><오늘 먹은 음식></a>
            </div>
            <div th:if="${userFoods}">
              <div th:each="userFood : ${userFoods}">
                <div class = "row">
                    <a class = "col" id="label" th:text="${userFood.getFoodName()}">군만두</a>
                    <button class="btn btn-secondary col select-btn" id="todayEat"  th:data-food-name1-th="${userFood.getFoodName()}">삭제</button>
                </div>
              </div>
            </div>
            <div th:unless="${userFoods}">
              <p>먹은거 없음</p>
            </div>
        </div>
    </div>

    <script>
      $(document).ready(function () {
        // 버튼 클릭 이벤트 처리
        $('.select-button').on('click', function () {
          // 클릭된 버튼의 data- 속성을 통해 정보를 가져온다.
          var foodName = $(this).data('food-name-th');
          var nutrCont1 = $(this).data('nutr-cont1-th');
          var nutrCont2 = $(this).data('nutr-cont2-th');
          var nutrCont3 = $(this).data('nutr-cont3-th');
          var nutrCont4 = $(this).data('nutr-cont4-th');

          // TODO: 나중에 지울 것, 테스트용 로그
          console.log(foodName);

          $.ajax({
            type: 'POST',
            url: 'http://localhost:8081/analyze/selectFood',
            data: {
              foodName: foodName,
              nutrCont1: nutrCont1,
              nutrCont2: nutrCont2,
              nutrCont3: nutrCont3,
              nutrCont4: nutrCont4
            },
            success: function (response) {
              console.log('Data sent successfully:', response);
              // 새로고침 되는게 너무 어색해서 0.2초 시간지연
              setTimeout(() => window.location.replace(location.href), 200);
            },
            error: function (error) {
              console.error('Error sending data:', error);
            }
          });
        });
      });

      $(document).ready(function () {
        // 버튼 클릭 이벤트 처리
        $('.select-btn').on('click', function () {
          // 클릭된 버튼의 data- 속성을 통해 정보를 가져온다.
          var foodName = $(this).data('food-name1-th');
          var data = 'what'

          // TODO: 나중에 지울 것, 테스트용 로그
          console.log(foodName);

          $.ajax({
            type: 'POST',
            url: 'http://localhost:8081/analyze/deleteFood',
            data: {
              foodName: foodName
            },
            success: function (response) {
              console.log('Data sent successfully:', response);
              // 새로고침 되는게 너무 어색해서 0.2초 시간지연
              setTimeout(() => window.location.replace(location.href), 200);
            },
            error: function (error) {
              console.error('Error sending data:', error);
            }
          });
        });
      });

      // $(document).ready(function () {
      //   // 버튼 클릭 이벤트 처리
      //   $('.select-butt').on('click', function () {
      //     // 클릭된 버튼의 data- 속성을 통해 정보를 가져온다.
      //     var foodName = $(this).data('food-name1-th');
      //
      //     // TODO: 나중에 지울 것, 테스트용 로그
      //     console.log(foodName);
      //
      //     $.ajax({
      //       type: 'POST',
      //       url: 'http://localhost:8081/analyze/deleteFood',
      //       data: {
      //         foodName: foodName
      //       },
      //       success: function (response) {
      //         console.log('Data sent successfully:', response);
      //         setTimeout(() => window.location.replace(location.href), 200);
      //       },
      //       error: function (error) {
      //         console.error('Error sending data:', error);
      //       }
      //     });
      //   });
      // });

    </script>
</body>