<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="../../statics/css/account/register.css">
        <title>Register</title>
    </head>
    <body>
        <div class="container">
            <div class="box1">
                <img src="../../statics/img/LogIn_Image_1.png" class="box1-image1">
                <img src="../../statics/img/LogIn_Image_2.png" class="box1-image2">
            </div>
            <div class="box2">
                <h1>회원가입</h1>
                <form>
                    <div class="box3">
                        <input type="text" placeholder="이름">
                        <img src="../../statics/img/Register_Img_1.png">
                    </div>
                    <div class="box3">
                        <input type="text" placeholder="아이디">
                        <img src="../../statics/img/Register_Img_2.png">
                    </div>
                    <div class="box4">
                        <input type="password" placeholder="비밀번호">
                        <img src="../../statics/img/Register_Img_3.png">
                    </div>
                    <div class="box4">
                        <input type="password" placeholder="남, 여">
                        <img src="../../statics/img/Register_Img_5.png">
                    </div>
                    <div class="box4">
                        <input type="text" placeholder="키">
                        <img src="../../statics/img/Register_Img_7.png">
                    </div>
                    <div class="box4">
                        <input type="text" placeholder="몸무게">
                        <img src="../../statics/img/Register_Img_6.png">
                    </div>
                    <div>
                        <a class="box5" href="" role="button">회원가입</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>