body{
    align-items:center;
    margin:0;
    min-width:1030px;
}

#title{
    font-family:SOYOMapleBoldTTF;
    font-size:60px;
    margin:40px;
}

#labelTitle{
    margin:10px;
    margin-left:5px;
    font-family:SOYOMapleBoldTTF;
    font-size:30px;
}

#label{
    font-family:SOYOMapleBoldTTF;
    font-size:20px;
}

#btn{
    margin:10px;
    width:200px;
    font-family:SOYOMapleBoldTTF;
    height:60px;
    font-size:20px;
}

#contentBox{
    width:100%;
    margin:auto;
    background-color:rgba(85, 237, 82, 0.35);
    padding:30px;
    border-radius:10px;
    border:groove;
}