<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" href="../../static/css/analizing/analizing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" href = "../../static/css/navBar.css">
    
    <title>Analyze</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" id = "navbar" style="background-color: rgb(255, 255, 255)">
        <div class="container">
        <!-- 로고 부분 -->
        <a class="navbar-brand col" href="">
            <img src="../../static/img/logo.png" alt="" width="100px"
            class="d-inline-block align-text-center" />
        </a>
        <!-- 네비게이션 바 구성요소들 -->
        <div class="collapse navbar-collapse" id="navbarDropdownMenuLink">
            <div class = "col-4">
            <nav style = "margin-left:20px" class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/foodImage.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    게시판
                </a>
                </div>
            </nav>
            </div>
            <div class = "col-4">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/glass.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    분석하기
                </a>
                </div>
            </nav>
            </div>
            <div class = "col">
            <!-- 우측 홈페이지, 로그아웃 버튼 -->
                <ul class="navbar-nav">
                <li class = "nav-item" id="nav_item">
                    <a class = "nav-link" href="">로그인 /</a>
                </li>
                <li class = "nav-item" id="nav_item">
                    <a class = "nav-link" href="">회원가입</a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>



    <div th:replace="~{../main/navBar :: navigation}"></div>
    <div class = "row" id ="searchBox">
        <div class ="col-9">
            <form action ="" method = "POST">
                <input id = "searchInput" type="text" placeholder="음식을 검색해 주세요">
                <button class = "btn btn-secondary" style="margin-bottom:14px;"
                type="submit">
                    <img src = "../../static/img/glass.png" id ="searchBtnImg">
                    <a id = "searchLabel">검색</a>
                </button>
            </form>
        </div>
        <div class = "col">
            <img src="../../static/img/sampleCircle.png" width = "200px" alt="..." class="rounded">
        </div>
    </div>
    <div class = "row">
        <div class = "col" id = "searchedItemBox">
            <a class = "row" id="label">list</a>
            
        </div>
        <div class = "col-2"id = "selectedItemBox">
            <a class = "col" id="labelHead">|오늘 먹은 음식|</a>
        </div>
    </div>

</body>