<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" href="../../static/css/analizing/analizing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="utf-8" />
    <link rel="stylesheet" href = "../../static/css/navBar.css">
    <title>Analyze</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" id = "navbar" style="background-color: rgb(255, 255, 255)">
        <div class="container">
        <!-- 로고 부분 -->
        <a class="navbar-brand col" href="">
            <img src="../../static/img/logo.png" alt="" width="100px"
            class="d-inline-block align-text-center" />
        </a>
        <!-- 네비게이션 바 구성요소들 -->
        <div class="collapse navbar-collapse" id="navbarDropdownMenuLink">
            <div class = "col-4">
            <nav style = "margin-left:20px" class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/foodImage.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    게시판
                </a>
                </div>
            </nav>
            </div>
            <div class = "col-4">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/glass.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    분석하기
                </a>
                </div>
            </nav>
            </div>
            <div class = "col">
            <!-- 우측 홈페이지, 로그아웃 버튼 -->
                <ul class="navbar-nav">
                <li class = "nav-item" id="nav_item">
                    <a class = "nav-link" href="">로그인 /</a>
                </li>
                <li class = "nav-item" id="nav_item">
                    <a class = "nav-link" href="">회원가입</a>
                </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>



    <div th:replace="~{../main/navBar :: navigation}"></div>
    <div class = "row" id ="searchBox">
        <div >
            <form action ="" method = "POST">
                <input id = "searchInput" type="text" placeholder="음식을 검색해 주세요">
                <button class = "btn btn-secondary" style="margin-bottom:14px;"
                type="submit">
                    <img src = "../../static/img/glass.png" id ="searchBtnImg">
                    <a id = "searchLabel">검색</a>
                </button>
            </form>
        </div>
    </div>
    <div class = "row" style="max-width:98%">
        <div class = "col-2" id = "menuBar">
            <div class = "row">
                <a id="label" href="">등록하기</a>
            </div>
            <div class = "row">
                <a id="label" href="">분석 및 저장</a>
            </div>
        </div>
        <div class = "col" id = "searchedItemBox">
            <div class = "row">
                <a class = "col-1" id = "label"></a>
                <a class = "col" id = "label">음식 이름</a>
                <a class = "col" id = "label">탄수화물</a>
                <a class = "col" id = "label">단백질</a>
                <a class = "col" id = "label">지방</a>
            </div>
            <div class = "row">
                <button class="btn btn-light col-1" id="foodItem" style="font-size:18px">추가</button>
                <a class = "col" id = "foodItem">돈까스</a>
                <a class = "col" id = "foodItem" style = "text-align:center">130g</a>
                <a class = "col" id = "foodItem" style = "text-align:center">22g</a>
                <a class = "col" id = "foodItem" style = "text-align:center">18g</a>
            </div>
            <div class = "row">
                <button class="btn btn-light col-1" id="foodItem" style="font-size:18px">추가</button>
                <a class = "col" id = "foodItem">짜장면</a>
                <a class = "col" id = "foodItem" style = "text-align:center">150g</a>
                <a class = "col" id = "foodItem" style = "text-align:center">12g</a>
                <a class = "col" id = "foodItem" style = "text-align:center">40g</a>
            </div>
        </div>
        <div class = "col-2"id = "selectedItemBox">
            <div class = "row" >
                <a class = "col" id="labelHead">|오늘 먹은 음식|</a>
            </div>
            <div class = "row">
                <a class = "col" id="label">군만두</a>
                <button class="btn btn-secondary col" id="todayEat">삭제</button>
            </div>
            <div class = "row">
                <a class = "col" id="label">군만두</a>
                <button class="btn btn-secondary col" id="todayEat">삭제</button>
            </div>
            <div class = "row">
                <a class = "col" id="label">군만두</a>
                <button class="btn btn-secondary col" id="todayEat">삭제</button>
            </div>
        </div>
    </div>
</body>